{# {% include "@atoms/text/text/01-paragraph.twig" with {
  paragraph_content: '
    <img src="https://source.unsplash.com/96DW4Pow3qI/500x300" alt="" class="mb-2 ml-5 pull-right"/>
    <span class="lead">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</span>',
  } %} #}

{% set text_with_image__base_class = 'text-with-image' %}

<div {{ bem(text_with_image__base_class) }}>
  <div {{ bem('image', [], text_with_image__base_class) }}>
    {% block text_with_image__image %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        image_blockname: text_with_image__base_class,
        output_image_tag: text_with_image__image__output_image_tag,
        image_src: text_with_image__image__src,
        image_alt: text_with_image__image__alt,
      } %}
    {% endblock %}
  </div>
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_blockname: text_with_image__base_class,
    paragraph_base_class: 'text',
    paragraph_content: text_with_image__text,
  } %}
</div>
