{#
 # Available variables:
 # - background_image__base_class: The base class. Defaults to "background-image".
 # - background_image__modifiers: An array of modifiers to add to the base classname.
 # - background_image__blockname: The blockname is prepended to the base classname.
 #
 # Available blocks:
 # - background_image: Used to replace the image with a responsive one from Drupal
 # - background_image__content:
 #}

{{ attach_library('western_up/background-image') }}

{% set background_image__base_class = background_image__base_class|default('background-image') %}

<div {{ bem(background_image__base_class, background_image__modifiers, background_image__blockname) }}
  data-responsive-background-image>
  <div data-responsive-background-image--src>
    {% block background_image %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_blockname: background_image_base_class_var,
        image_srcset: image_srcset|default(image.sixteen_by_nine.responsive.srcset),
        image_sizes: image_sizes|default(image.sixteen_by_nine.responsive.sizes),
        image_src: image_src|default(image.sixteen_by_nine.responsive.src),
      } %}
    {% endblock %}
  </div>
  {% block background_image__content %}
    {# Using raw for example purposes only #}
    {{ background_image__content|raw }}
  {% endblock %}
</div>
